@import "./color.scss";

body {
    background-color: $primary-color;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 1046px;
    height: 303px;
    background-color: $third-color;
    margin-bottom: 15px;
}
.item {
    display: flex;
    padding: 32px 23px 39px 31px;
}

.info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-text-icon-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.info-title {
   font-family: Roboto;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 0.15px;
   line-height: 24px;
   margin: 0;
}

.info-description {
   font-family: Roboto;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.15px;
   line-height: 16px;
   margin: 0;
}

.tag-container {
    display: flex;
}

.Icons-Container {
    margin-top: 8px;
}


.tag {
    width: max-content;
    height: 16px;
    padding: 0px 8px;
    letter-spacing: 0.126px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    text-align: center;
    border-radius: 4px;
}

.type-icon {
    margin-right: 10px;
}

.item-s {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 232px;
}
.Description-and-price {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1.5px solid #EAEAEA;
}

.image {
    width: 176px;
    height: 232px;
}

.brand_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 40px;
    background-color: $second-color;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: $third-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.168px;
    border-color: transparent;
    outline: none;
    cursor: pointer;
}

.title-and-offer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total-price {
    margin: 8px 0;
}

@media (max-width: 1046px) {
    .container {
        width: auto;
    }
  }

@media (max-width: 732px) {
    .content-container {
        padding-right: 0;
    }
}

@media (max-width: 724px) {
    .content-container {
        padding-right: 0;
    }
    .item {
        flex-direction: column;
    }
    .container {
        height: auto;
    }
    .image {
        width: 100%;
    }
}

@media (max-width: 560px) { 
    .items {
        flex-direction: column;
        height: auto;
    }
    .brand_primary {
        width: 100%;
    }
    .Description-and-price {
        height: 232px;
        border-top: 1.5px solid $fourth-color;
    }
    .tag-container {
        flex-direction: column;
        margin-top: 18px;
    }
    .info-title {  
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 174px;
    }
    .tag {
        margin-bottom: 8px;
    }
 }
